version: '3.3'
services:

    todo_api:
        image: todo-api:v1.0.0
        expose: 
            - "80"
        volumes:
            - ./todo-api.appsettings.json:/app/appsettings.json
        depends_on:
          - todo_mysql
          - todo_rabbitmq

    todo_console:
        image: todo-console:v1.0.0
        depends_on:
          - todo_api
        volumes:
            - ./todo-console.appsettings.json:/app/appsettings.json

    todo_angular:
        image: todo-angular:v1.0.0
        ports:
            - "8080:80"
        depends_on:
            - todo_console
            - todo_api_db
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf

networks:
  default:
      external: true
      name: todo-app-prod
