<p>{{ view | uppercase }} is used</p>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="grid" (change)="onViewToggle($event)">
    <mat-button-toggle value="grid">Grid View</mat-button-toggle>
    <mat-button-toggle value="list">List View</mat-button-toggle>
</mat-button-toggle-group>

<!-- <div class="container">
    <div class="row">
        <mat-form-field appearance="outline" class="col-lg-6">
            <mat-label>Search Item</mat-label>
            <input matInput placeholder="Search ..." [(ngModel)]="searchText">
        </mat-form-field>
    </div>
</div> -->

<!-- <mat-divider></mat-divider> -->

<mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile class="grid-tile" colspan="2">
        <p>left area</p>
    </mat-grid-tile>

    <mat-grid-tile class="grid-tile" colspan="3">
        <p>right area</p>
    </mat-grid-tile>
</mat-grid-list>

<div style="display: flex;margin: 10px;">
    <div style="width: 50%;">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <p>This is the primary content of the panel.</p>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pin-left"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am opened
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div style="width: 50%;">

        <mat-tab-group>
            <mat-tab label="Graph Editor">
                <p>FBD editor works</p>
            </mat-tab>

            <mat-tab label="Text Editor">
                <p>ST editor works</p>
            </mat-tab>

            <mat-tab label="Chart Editor">
                <p>SFC editor works</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>