<div class="col-lg-12 row">

    <div class="col-lg-4">
        <mat-accordion>
            <mat-expansion-panel hideToggle expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        This is the expansion title
                    </mat-panel-title>
                    <mat-panel-description>
                        This is a summary of the content
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pin-left"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>

                <p>{{ view | uppercase }} is used</p>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="grid" (change)="onViewToggle($event)">
                    <mat-button-toggle value="grid">Grid View</mat-button-toggle>
                    <mat-button-toggle value="list">List View</mat-button-toggle>
                </mat-button-toggle-group>

                <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6">
                        <mat-label>Search Item</mat-label>
                        <input matInput placeholder="Search ..." [(ngModel)]="searchText">
                    </mat-form-field>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am panel
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am panel
                    </mat-panel-description>
                </mat-expansion-panel-header>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am panel
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>

    </div>

    <div class="col-lg-4">
        <div class="row" style="margin: 0px;">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="role" name='section'>
                    <mat-option *ngFor="let r of roles" [value]="r">{{ r }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row" style="margin: 0px;">
            <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option>One fish</mat-chip-option>
                <mat-chip-option>Two fish</mat-chip-option>
                <mat-chip-option color="primary" selected>Primary fish</mat-chip-option>
                <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div class="row" style="margin: 0px;">
            <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option selected *ngFor="let r of roles">{{ r }}</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div class="content">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selectedDate"></mat-calendar>
            </mat-card>

            <p class="text-info">{{selectedDate}}</p>
        </div>
    </div>

    <div class="col-lg-4">
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item>Pepper</mat-list-item>
            <mat-list-item>Salt</mat-list-item>
            <mat-list-item>Paprika</mat-list-item>
        </mat-list>
        <mat-action-list>
            <button mat-list-item>Save</button>
            <button mat-list-item>Undo</button>
            <button mat-list-item>
                <a><mat-icon>save</mat-icon>{{ 'save' }}</a>
            </button>
        </mat-action-list>

        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [activated]="link.isActive">
                <a matListItemTitle href="/">{{ link.name }}</a>
                <button mat-icon-button matListItemMeta>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>

<mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile class="grid-tile" colspan="2">
        <p>left area</p>
    </mat-grid-tile>

    <mat-grid-tile class="grid-tile" colspan="3">
        <p>right area</p>
    </mat-grid-tile>
</mat-grid-list>
