<app-banner></app-banner>
<div class="content container" role="main">
    <app-card-title>Sample App is running!</app-card-title>

    <p>Here are some links to help you get started:</p>

    <div class="card-container">
        <app-card href="/user" content="User App" />
        <app-card href="/sample" content="Samples"/>
        <app-card href="https://super.cloud77.top" content="Super App" />
        <app-card href="https://canteen.cloud77.top" content="Canteen App" />
        <app-card href="https://factory.cloud77.top" content="Factory App" />
      </div>

      <p>What do you want to do next with your app? <span class="text-danger">oh...</span></p>

      <div class="card-container">
        <app-small-card href="/user" content="User App" />
      </div>
            
    <div style="display: flex;">
        <div style="flex: 1 1 auto; margin: auto;display: flex;margin-top: 10px;">
            <video loop controls style="max-width: 600px;margin: auto;" src="/assets/welcome.mp4"></video>
        </div>
    </div>

    <div class="card-container">
        <app-social></app-social>
      </div>
</div>