<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="SignalR rule" stopProcessing="true">
                    <match url="hubs(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:7712/{R:0}" />
                </rule>
                <rule name="Socket IO rule" stopProcessing="true">
                    <match url="canteen-ws(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:7715/{R:0}" />
                </rule>
                <rule name="API Proxy" stopProcessing="true">
                    <match url="gateway-api(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="http://localhost:7710/api/gateway" />
                </rule>
                <rule name="Gateway API" stopProcessing="true">
                    <match url="api/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:7710/{R:0}" />
                </rule>
                <rule name="Default Home Page" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>