<div class="container">
    <app-un-authorized *ngIf="!loading && !isLogin" (ssoSignIn)="onSSO();"></app-un-authorized>

    <div *ngIf="isLogin">

        <div class="row col-lg-12">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <p style="font-weight: bold;">Account Info</p>
                    </div>

                    <div class="card-body">
                        <div class="content">
                            <div class="row">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" [(ngModel)]="email" disabled>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field>
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username" [(ngModel)]="name" disabled>
                                </mat-form-field>
                            </div>

                            <div *ngIf="confirmed" class="row">
                                <p class="text-info">You are confirmed.</p>
                            </div>

                            <div *ngIf="!confirmed" class="row" style="display: flex;">
                                <p class="text-danger">You are not confirmed.</p>
                                <button mat-raised-button color="primary" (click)="sendConfirmationEmail()">
                                    Send me the email to confirm.
                                </button>
                            </div>



                            <div>
                                <app-preview [content]="preview" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <p style="font-weight: bold;">Profile Info</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="profile" class="row">
                            <p class="text-info">You have a profile.</p>
                        </div>
                        <div class="row">
                            <button mat-raised-button color="primary" (click)="updateProfile()">My Profile</button>
                        </div>
                        <div *ngIf="!profile" class="row">
                            <p class="text-danger">You don't have a profile.</p>
                            <button mat-raised-button color="primary" (click)="createProfile()">
                                Create a profile.
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>