<div class="card">
    <div class="card-header">
        <p class="header-content">Toolbox</p>
    </div>

    <div class="card-body">

        <div class="row col-lg-12">
            <div class="col-lg-6">
                <app-preview [content]="content" />
            </div>
            <div class="col-lg-6">
                <button mat-raised-button (click)="reverseString('js')">Reverse string (JS)</button>
                <button mat-raised-button color="accent" (click)="reverseString('ts')">Reverse string (TS)</button>
                <p class="text-info">Dynamically load script and execute later</p>
            </div>
        </div>

        <div>
            <p>Encrypt string (base64)</p>
            <div class="row">
                <mat-form-field>
                    <mat-label>Source value</mat-label>
                    <textarea placeholder="todo" matInput [(ngModel)]="encryptSource" (change)="encrypt();"></textarea>
                </mat-form-field>
            </div>
            <p>Result: <span class="text-info">{{ encryptResult }}</span></p>
        </div>

        <div>
            <p>Decrypt string (utf8)</p>
            <div class="row">
                <mat-form-field>
                    <mat-label>Source value</mat-label>
                    <textarea placeholder="todo" matInput [(ngModel)]="decryptSource" (change)="decrypt();"></textarea>
                </mat-form-field>
            </div>
            <p>Result: <span class="text-info">{{ decryptResult }}</span></p>
        </div>

        <button mat-raised-button color="primary" (click)="openPage()">
            Open Home at new tab
        </button>
    </div>
</div>