<div class="container">
    <app-un-authorized *ngIf="!loading && !isLogin" (ssoSignIn)="onSSO()"></app-un-authorized>

    <div *ngIf="isLogin">
        <div style="display: flex">
            <mat-action-list style="
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          width: 360px;
          min-height: 720px;
        ">
                <button mat-list-item (click)="create()">
                    {{ posts.length === 0 ? "No posts found, create now" : "New Post" }}
                </button>
                <button mat-list-item *ngFor="let post of posts" (click)="edit(post)">
                    {{ post.title }}
                </button>
            </mat-action-list>

            <div class="container">
                <p *ngIf="id" class="text-info">
                    id: {{ id }}, title: {{ title }}, description: {{ description }}
                </p>

                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <nu-monaco-editor [autoFormat]="true" style="height: 600px; width: 100%" [model]="model"
                            [options]="options">
                        </nu-monaco-editor>
                    </div>
                    <div class="col-lg-6">
                        <textarea [(ngModel)]="content" rows="20" cols="60"></textarea>
                        <button mat-button (click)="syncContent()">Sync From Rich Editor</button>
                    </div>

                </div>

                <hr />

                <button mat-raised-button color="primary" (click)="updateContent()">
                    Update
                </button>
                <button mat-button (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>