<div class="container">
  <mat-tab-group>
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>

    <mat-tab label="Angular">
      <lib-angular-ui></lib-angular-ui>
      <app-angular></app-angular>
    </mat-tab>

    <mat-tab label="Observer">
      <app-observer></app-observer>
    </mat-tab>

    <mat-tab label="Material">
      <app-material></app-material>
    </mat-tab>

    <mat-tab label="Toolbox">
      <app-toolbox></app-toolbox>
    </mat-tab>

    <mat-tab label="Diagram Editor">
      <app-diagram></app-diagram>
    </mat-tab>

    <mat-tab label="Drag & Drop">
      <app-drag-drop></app-drag-drop>
    </mat-tab>

    <mat-tab label="Table">
      <app-table></app-table>
    </mat-tab>

    <mat-tab label="Clone">
      <app-clone></app-clone>
    </mat-tab>

  </mat-tab-group>

  <router-outlet />
</div>