<p>live-chat works!</p>
<p>Session: {{ session }}</p>
<p>Online: {{ online }}</p>

<div class="row col-lg-12">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                message card
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p>room card</p>
                <button (click)="addRoom()">add room</button>
                <button>delete room</button>
            </div>
        </div>
    </div>
    
</div>