<div class="container" style="display: flex;">
    <div #canvasSource>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

        <div [innerHtml]="htmlValue"></div>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is the expansion title
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am panel
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div style="display: flex;flex-flow: column;">
                <button [disabled]="screenshotDisabled" (click)="onScreenshot()">Take Screenshot</button>
            </div>
    
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am panel
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div style="display: flex;">
                <img alt="Login Logo" height="200px" src="assets/cloud77-login.png">
            </div>
    
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am panel
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div class="container">
                <div class="row" style="margin: 0px;">
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="role" name='section'>
                            <mat-option *ngFor="let r of roles" [value]="r">{{ r }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
                <div class="row" style="margin: 0px;">
                    <mat-chip-listbox aria-label="Fish selection">
                        <mat-chip-option>One fish</mat-chip-option>
                        <mat-chip-option>Two fish</mat-chip-option>
                        <mat-chip-option color="primary" selected>Primary fish</mat-chip-option>
                        <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
                    </mat-chip-listbox>
                </div>
            
                <div class="row" style="margin: 0px;">
                    <mat-chip-listbox aria-label="Fish selection">
                        <mat-chip-option selected *ngFor="let r of roles">{{ r }}</mat-chip-option>
                    </mat-chip-listbox>
                </div>

                <div class="content">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                    
                    <p class="text-info">{{selected}}</p>
                </div>

            </div>
    
        </mat-expansion-panel>
    </mat-accordion>

    <div>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item>Pepper</mat-list-item>
            <mat-list-item>Salt</mat-list-item>
            <mat-list-item>Paprika</mat-list-item>
        </mat-list>
        <mat-action-list>
            <button mat-list-item>Save</button>
            <button mat-list-item>Undo</button>
            <button mat-list-item>
                <a><mat-icon>save</mat-icon>{{ 'save' }}</a>
            </button>
        </mat-action-list>

        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [activated]="link.isActive">
                <a matListItemTitle href="/">{{ link.name }}</a>
                <button mat-icon-button matListItemMeta>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>

    <div>
        <p>test placeholder</p>
        <div *ngIf="isLoading" class="loading-placeholder">
            <div class="grey-box">placeholder works</div>
        </div>
        <div *ngIf="!isLoading">
            <!-- Your content goes here -->
        </div>
    </div>
</div>