<div class="container">
    <div class="card">
        <div class="card-header">
            <p>reset-password works!</p>
        </div>

        <div class="card-body">
            <div class="row col-lg-6">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="email">
                </mat-form-field>
            </div>

            <ng-container *ngIf="!token">
                <button mat-raised-button color="primary" (click)="sendToken()">Send Password Reset Token to email</button>
            </ng-container>
            
            <ng-container *ngIf="token">
                <div class="row col-lg-6">
                    <mat-form-field>
                        <mat-label>Token</mat-label>
                        <input matInput placeholder="Token" [(ngModel)]="token">
                    </mat-form-field>
                </div>

                <div class="row col-lg-6">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" autocomplete="off"
                            [(ngModel)]="password">
                    </mat-form-field>
                    <password-strength-meter [password]="password" enableFeedback />
                </div>

                <button mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
            </ng-container>
        </div>
    </div>
</div>