<mat-tab-group>
  <mat-tab label="Home">
    <p>dashboard works!</p>
    <p>gateway health</p>
    <p>service health</p>
  </mat-tab>
  <mat-tab label="Database & Collections">
    <div class="row">
      <p>Databases: {{ databases.join(",") }}</p>
    </div>

    <div class="row">
      <p>Selected Database: {{ database }}</p>
    </div>

    <div class="row">
      <p>Collections: {{ collections.join("," )}}</p>
    </div>
  </mat-tab>
  <mat-tab label="User Activities">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User Email</mat-label>
        <input matInput name="user-email-input" placeholder="Query user email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="queryEvents()">Search</button>

    <table class="table table-sm table-striped table-bordered table-hover">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Updated By</th>
        <th>Payload</th>
        <!-- <th style="width: 100px;">Actions</th> -->
      </tr>
      <tr *ngFor="let e of events">
        <td>{{ e.name || 'Null' }}</td>
        <td>{{ e.date }}</td>
        <td>{{ e.userEmail }}</td>
        <td>{{ e.payload || 'Null' }}</td>
        <!-- <td style="display:flex;padding: 2px;margin: 2px;">
      <button type="button"
          class="btn btn-outline-primary btn-sm" style="margin-right:6px;"><i
          class="material-icons">edit</i></button>
      <button type="button"
          class="btn btn-outline-danger btn-sm"><i class="material-icons">delete</i></button>
    </td> -->
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Mails">
    <p>send health mail</p>
    <p>send custom mail</p>
    <p>send user confirm email</p>
    <p>send reset password email</p>
  </mat-tab>
</mat-tab-group>
