<div class="container">

    <div class="row col-lg-12">
        <div class="col-lg-6">
            <p style="text-align: center;">{{ current }}</p>
            <main>
                <p class="custom-styled-text">use css library, import style at angular.json styles</p>
            </main>
            <ul>
                <li *ngFor="let item of logs">{{item}}</li>
            </ul>
        
            <p *ngFor="let person of persons$ | async">
                {{ person.personId }}.{{ person.name }} - {{ person.city }}
            </p>

            <div class="cart-item" *ngFor="let item of items; index as i">
                <span>{{ item }}, index {{ i + 1 }}</span>
            </div>

            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="openDialog('alert')">Alert</button>
                <button mat-raised-button color="primary" (click)="openDialog('confirm')">Confirm</button>
                <button mat-raised-button color="primary" (click)="openDialog('prompt')">Prompt</button>
            </div>

            <div style="text-align: center;">
                <span><a href="https://www.runoob.com/nodejs/nodejs-tutorial.html" target="_blank">Node.js 教程 | 菜鸟教程</a></span>
                <span><a href="https://v11.material.angular.io/components/categories" target="_blank">Angular material 11</a></span>
            </div>        
        </div>

        <div class="col-lg-6">
            <p>right pane</p>
        </div>
    </div>

    <app-footer [code]="code" [owner]="owner" [developer]="developer" [url]="url" [name]="name" [repo]="repo"></app-footer>
</div>