<p>history works!</p>
<div class="row">
    <mat-form-field>
        <mat-label>Event name</mat-label>
        <mat-select [value]="name" (valueChange)="onValueChange($event)">
            <mat-option value="">None</mat-option>
            <mat-option value="Create-User">Create User</mat-option>
            <mat-option value="Verify-Email">Verify Email</mat-option>
            <mat-option value="Issue-Email-Token">Issue Email Token</mat-option>
            <mat-option value="Update-Role">Update Role</mat-option>
        </mat-select>
    </mat-form-field>
</div>