<style>
    .navbar {
        background-color: var(--gray-900);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-list {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }

    .navbar-item {
        margin: 0;
    }

    .navbar-link {
        color: var(--gray-400);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .navbar-link:hover {
        color: var(--bright-blue);
    }
</style>

<nav class="navbar">
    <ul class="navbar-list">
        <li *ngFor="let header of headers" class="navbar-item">
            <a [href]="header.path" class="navbar-link">{{ header.label }}</a>
        </li>
        <!-- <li class="navbar-item"><a href="" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="/statistics" class="navbar-link">Statistics</a></li>
        <li class="navbar-item"><a href="/accounts" class="navbar-link">Accounts</a></li>
        <li class="navbar-item"><a href="/history" class="navbar-link">History</a></li>
        <li class="navbar-item"><a href="/settings" class="navbar-link">Settings</a></li>
        <li class="navbar-item"><a href="/messages" class="navbar-link">Messages</a></li> -->
    </ul>
</nav>