<div class="container col-lg-12">
    <div class="card">
        <div class="card-header">
            <div style="display: flex;">
                <h5>User Login</h5>
                <mat-icon>signal_cellular_alt</mat-icon>
                <span class="example-spacer"></span>
            </div>
        </div>
    </div>

    <div class="card-body content">

        <p *ngIf="!serviceAvailable" class="text-danger text-center">Service is unavailable, please try again later.</p>
        <p *ngIf="serviceAvailable" class="text-success text-center">Service is available.</p>

        <div *ngIf="!hadToken || !hadValidToken" style="margin: auto;box-shadow: 3px;" class="col-lg-6">
            <form novalidate>
                <div class="container content">
                    <ng-container>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Email / Username</mat-label>
                                <input matInput placeholder="Email / Username" autocomplete="off" [(ngModel)]="account"
                                    name="user-account" (change)="onAccountChange()">
                            </mat-form-field>
                        </div>

                        <p *ngIf="account && !accountExisting" class="text-warning">your account is not existing.</p>
                        <p *ngIf="account && accountExisting" class="text-success">your account is registered</p>

                        <div class="row">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" autocomplete="off"
                                    [(ngModel)]="password" name="user-password" (keypress)="onKeyUp($event)">
                            </mat-form-field>
                        </div>

                        <div class="row">

                            <mat-checkbox color="primary" [(ngModel)]="remember" name="remembercheckbox">Remember
                                Me</mat-checkbox>

                        </div>

                        <div class="row">
                            <div style="display: flex;">
                                <button type="submit" mat-raised-button color="primary"
                                    (click)="onLoginClick();">Login</button>

                                <button type="button" mat-outlined-button color="primary">
                                    <a #signup target="_blank" [routerLink]="['/sign-up']" [relativeTo]=""
                                        routerLinkActive="active">Sign
                                        Up</a>
                                </button>

                                <button mat-button>Forget password</button>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </form>
        </div>

        <div *ngIf="hadValidToken" style="margin: auto;">
            <p class="text-info-emphasis">login as: {{ account | uppercase }}</p>
            <div>
                <span class="text-warning">Token is valid for {{ tokenValidity }} minutes</span>
            </div>
            <p class="text-info">{{openingMessage}}</p>

            <input type="text" placeholder="Type..." [(ngModel)]="message">
            <button (click)="sendMessage()">Broadcast message</button>

            <button mat-button (click)="copyTokens()"><mat-icon>file_copy</mat-icon>Copy Tokens</button>

            <button mat-button (click)="onLogout()">Logout</button>
        </div>

        <div *ngIf="hadValidToken" style="margin: auto;">
            <textarea cols="100" rows="10" readonly>{{tokenString}}</textarea>
        </div>

        <div style="display: flex;">
            <div style="width: 50%;">
                <div>
                    <iframe #messageContainer [src]="frameResourceUrl"></iframe>
                </div>
            </div>

            <div style="width: 50%;">
                <div *ngIf="debugMode">
                    <app-preview [content]="logs"></app-preview>
                </div>
            </div>
        </div>

    </div>
</div>