<div class="container col-lg-12">
    <div class="card">
        <div class="card-header">
            <div style="display: flex;">
                <h5>User Login</h5>
                <mat-icon>signal_cellular_alt</mat-icon>
                <span class="example-spacer"></span>
            </div>
        </div>
    </div>

    <div class="card-body content">
        <div *ngIf="!hadToken || !hadValidToken" style="margin: auto;box-shadow: 3px;" class="col-lg-6">
            <form novalidate>
                <div class="container content">
                    <ng-container>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Email / Username</mat-label>
                                <input matInput placeholder="Email / Username" autocomplete="off" [(ngModel)]="account"
                                    name="user-account" (change)="onAccountChange()">
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" autocomplete="off"
                                    [(ngModel)]="password" name="user-password" (keypress)="onKeyUp($event)">
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <mat-checkbox color="primary" [(ngModel)]="remember" name="remembercheckbox">Remember
                                Me</mat-checkbox>
                            <!--forget password-->
                            <!--sign up-->
                        </div>

                        <div class="row">
                            <div style="display: flex;">
                                <button type="submit" mat-raised-button color="primary"
                                    (click)="onLoginClick();">Login</button>
                                <!-- <button type="button" mat-outlined-button color="primary">
                                    <a #signup target="_blank" [routerLink]="['/sign-up']" [relativeTo]=""
                                        routerLinkActive="active">Sign
                                        Up</a>
                                </button> -->
                                <!-- <button type="button" mat-button (click)="clearLogin();">Clear Account Login</button>
                                <button mat-button>Forget password</button> -->
                            </div>
                        </div>

                    </ng-container>
                </div>
            </form>
        </div>

        <div *ngIf="hadValidToken" style="margin: auto;">
            <p class="text-info">{{openingMessage}}</p>
            <input type="text" placeholder="Type..." [(ngModel)]="message">
            <button (click)="sendMessage()">Broadcast message</button>
        </div>

        <div *ngIf="hadValidToken" style="margin: auto;">
            <textarea cols="100" rows="10" readonly>{{tokenString}}</textarea>
        </div>

        <div>
            <iframe #messageContainer [src]="frameResourceUrl"></iframe>
        </div>
    </div>
</div>