P {
  margin: 0px;
}

h4:hover {
  background-color: lightgrey;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
}

input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

input:focus {
  outline: none;
}

textarea {
  border: none;
  font-size: 18pt;
  height: 100%;
  padding: 20px  0  20px  15px;
  resize: none;
  width: calc(100% - 235px);
}

.sidenav {
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-top: 20px;
  width: 220px;

  span {
    display: block;
    color: #818181;
    font-size: 25px;
    padding: 6px  8px  6px  16px;
    text-decoration: none;
  }

  span.selected {
    color: #002f96;
  }

  span:hover {
    color: #740000;
    cursor: pointer;
  }
}

