<style>
    mat-form-field {
        min-width: 300px;
    }
</style>

<div class="container col-lg-12">
    <h1 mat-dialog-title>Create My Profile (User Information)</h1>

    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" [(ngModel)]="data.surname">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Given Name</mat-label>
                <input matInput placeholder="GivenName" [(ngModel)]="data.givenName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Company" [(ngModel)]="data.company">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Company Type</mat-label>
                <input matInput placeholder="Company Type" [(ngModel)]="data.companyType">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="data.phone">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" [(ngModel)]="data.city">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="data.title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Contact</mat-label>
                <input matInput placeholder="Contact" [(ngModel)]="data.contact">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Fax</mat-label>
                <input matInput placeholder="Fax" [(ngModel)]="data.fax">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Post</mat-label>
                <input matInput placeholder="Post" [(ngModel)]="data.post">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Supplier</mat-label>
                <input matInput placeholder="Supplier" [(ngModel)]="data.supplier">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="data">Save</button>
    </div>
</div>