<div class="container">
    <div *ngIf="!isLogin && !loading">
        <p class="text-danger">Not authorized!</p>
        <button (click)="onSSO()">Sign In with SSO</button>
    </div>

    <div *ngIf="isLogin">
        <div class="row">
            <div class="card col-lg-6">
                <div class="card-header">
                    <button mat-icon-button (click)="addSetting()">
                        <mat-icon fontIcon="add"></mat-icon>
                    </button>
                </div>

                <div class="card-body">
                    <ul>
                        <li *ngFor="let item of settings">{{ item.key }}</li>
                    </ul>
                </div>
            </div>

            <div class="card col-lg-6">
                <div class="card-header">
                    <p>Health!</p>
                </div>

                <div class="card-body">
                    <div class="row">
                        <mat-slide-toggle [(ngModel)]="healthEnable">Enable Daily Health Check</mat-slide-toggle>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Email Address</mat-label>
                            <input matInput placeholder="Email Address" [(ngModel)]="address" />
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field>
                            <mat-label>Subject</mat-label>
                            <input matInput placeholder="Subject" [(ngModel)]="subject" />
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field>
                            <mat-label>Body</mat-label>
                            <textarea matInput placeholder="Body" [(ngModel)]="body"></textarea>
                            <mat-hint align="end" aria-live="polite">
                                10 / 100
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary">Update Health Setting</button>
                </div>
            </div>
        </div>
    </div>